.fondo{
    border: solid yellow;
  background-image: url('../../../img/videojuegos-enmarcados-estilo-neon-pared-ladrillo_24908-58914\ \(1\).avif');
  background-repeat: no-repeat;
  background-size: cover; /* Ajusta el tamaño de la imagen para que cubra toda la pantalla */
  background-position: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}